/* Mine global css settings til mit side.*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}


/* Styles for the slider component */
.slider {
  height: 1px;
  background-color: #ddd;
  margin-top: 10px;
}

/* Styles for the slider thumb */
.slider .thumb {
  bottom: -7px;
  height: 16px;
  position: absolute;
  width: 16px;
  border-radius: 50%;
  background-color: #C4C4C4;
  cursor: grab;
}

.strokeme {
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}